extends layout

block content
  nav(class="navbar navbar-expand-lg nav-justified navbar-dark bg-dark")
    button(class="navbar-toggler navbar-toggler-right", type="button", data-toggle="collapse", data-target="#navbarsExampleDefault", aria-controls="navbarsExampleDefault", aria-expanded="false", aria-label="Toggle navigation")
      span(class="navbar-toggler-icon")
    a(class="navbar-brand", href='#') Trip Tracker  
    p(class='text-light mt-3') Car:
    div(class="collapse navbar-collapse ml-1")
      div(class="dropdown")
        button(class="btn btn-secondary dropdown-toggle", type="button", id="dropdownMenuButton", data-toggle="dropdown", aria-haspopup="true", aria-expanded="false") Select a Car
        #carDropdownList
          div(class='dropdown-menu', aria-labelledby="dropdownMenuButton")
            a(class="dropdown-item", href="#") Action
    div(class='collapse nav-link')
      button(type="button", class="btn btn-primary",data-toggle="modal", data-target="#addCarModal")
          Launch Add Car

  // Wrapper
  #wrapper
    div(class='mx-4 mt-2')
      div(class="modal fade", id="addCarModal", tabindex="-1", role="dialog", aria-labelledby="exampleModalLabel", aria-hidden="true")
        div(class="modal-dialog", role="document")
          div(class="modal-content")
            div(class="modal-header")
              h5(class="modal-title") Add a Car
              button(type="button" class="close" data-dismiss="modal" aria-label="Close")
                span(aria-hidden="true") &times;
            div(class="modal-body d-flex justify-content-around")
              #addCar
                fieldset
                  input#inputCarLicense(type='text', placeholder='License')
                  input#inputCarName(type='text', placeholder='Name')
                  br
                  input#inputCarMake(type='text', placeholder='Car Make')
                  input#inputCarModel(type='text', placeholder='Car Model')
                  br
                  input#inputCarYear(type='text', placeholder='Year')
                  input#inputCarTankSize(type='text', placeholder='Tank Size')
                  br
            div(class="modal-footer")
              button#btnAddCar(type="button" class="btn btn-primary" data-dismiss="modal") Add Car
              button(type="button" class="btn btn-secondary" data-dismiss="modal") Close

      // car info
      #carInfo
        h2 Car Info
        p
          strong Name:
          |  <span id='carInfoName'></span>
          br
          strong Year:
          |  <span id='carInfoYear'></span>
          br
          strong License:
          |  <span id='carInfoLicense'></span>
          br
          strong Make:
          |  <span id='carInfoMake'></span>, 
          strong Model:
          |  <span id='carInfoModel'></span>
          br
          strong Fuel Economy:
          |  <span id='carInfoFueleco'></span>

      // Car LIST
      h2 Car List
      #carList
        table(class='table table-bordered table-hover')
          thead
            th Car License
            th Car Name
            th Delete?
          tbody
      
      h2 Trip Stats
      #tripStats
      nav(class="nav nav-pills nav-justified")
        <canvas id='myChart' height='100'></canvas>
        <span id='graph'></span>
        <button id='fuelButton'>Fuel</button>
        <button id='distanceButton'>Distance</button>
  // /WRAPPER