extends layout

block content
  nav(class="navbar navbar-expand-lg navbar-dark bg-dark")
    button(class="navbar-toggler navbar-toggler-right", type="button", data-toggle="collapse", data-target="#navbarsExampleDefault", aria-controls="navbarsExampleDefault", aria-expanded="false", aria-label="Toggle navigation")
      span(class="navbar-toggler-icon")
    a(class="navbar-brand", href='#') Trip Tracker  
    p(class='text-light mt-3') Car:
    div(class="row ml-1 align-middle")
      div(class="dropdown")
        button(class="btn btn-secondary dropdown-toggle", type="button", id="dropdownMenuButton", data-toggle="dropdown", aria-haspopup="true", aria-expanded="false") Select a Car
        #carDropdownList
          div(class='dropdown-menu', aria-labelledby="dropdownMenuButton")
            a(class="dropdown-item", href="#") Action

  // Wrapper
  #wrapper

    div(class='mx-4 mt-2')
      // car info
      #carInfo
        h2 Car Info
        p
          strong Name:
          |  <span id='carInfoName'></span>
          br
          strong Year:
          |  <span id='carInfoYear'></span>
          br
          strong License:
          |  <span id='carInfoLicense'></span>
          br
          strong Make:
          |  <span id='carInfoMake'></span>, 
          strong Model:
          |  <span id='carInfoModel'></span>
          br
          strong Fuel Economy:
          |  <span id='carInfoFueleco'></span>

      //- // Car LIST
      //- h2 Car List
      //- #carList
      //-   table(class='table table-bordered table-hover')
      //-     thead
      //-       th Car License
      //-       th Car Name
      //-       th Delete?
      //-     tbody
      
      h2 Trip Stats
      #tripStats
      nav(class="nav nav-pills nav-justified")
        <canvas id='myChart' height='100'></canvas>
        <span id='graph'></span>
        <button id='fuelButton'>Fuel</button>
        <button id='distanceButton'>Distance</button>
  // /WRAPPER