extends layout

block content
  h1= title
  p(class="text-primary") Welcome to our test

  // Wrapper
  #wrapper
    div(class='row')
      div(class='col-4')
        // car info
        #carInfo
          h2(class="text-primary") Car Info
          p(class="text-primary",class="border border-primary",class="w-100 p-3")
            strong Name:
            |  <span id='carInfoName'></span>
            br
            strong Year:
            |  <span id='carInfoYear'></span>
            br
            strong License:
            |  <span id='carInfoLicense'></span>
            br
            strong Make:
            |  <span id='carInfoMake'></span> 
            strong Model:
            |  <span id='carInfoModel'></span>
            br
            strong Fuel Economy:
            |  <span id='carInfoFueleco'></span>
      
      div(class='col-8')
        h2(class="text-primary") Trip Stats
        #tripStats
        div(align="right")
          div(align="right")
            <canvas id='myChart' height='100'></canvas>
          <span id='graph'></span>
          <button id='fuelButton' class="btn btn-primary">Fuel</button>
          <button id='distanceButton' class="btn btn-primary">Distance</button>
          <button id='extraButton' class="btn btn-primary">Extra</button>
          <button id='rpmButton' class="btn btn-primary">RPM</button>
  // /WRAPPER